<button
    hx-post="{% url 'toggle_reply_upvote' child_dict.id %}"
    hx-target="#upvote-parent-reply-btn-{{ child_dict.id }}"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    id="parent-reply-btn-{{ child_dict.id }}"
    class="flex items-center gap-1 {% if child_dict.has_user_upvoted %}text-maroon{% else %}text-gray-400 hover:text-maroon{% endif %}">
    <i class="fas fa-fire"></i>
    <span class="text-sm font-semibold">{{ child_dict.upvotes }}</span>
</button>
